<div id="load-profiles-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">
					<ul>
	          <li>{% t cosafacciamo.protezione.box4a.list.li1 %}</li>
						<li>{% t cosafacciamo.protezione.box4a.list.li2 %}</li>
						<li>{% t cosafacciamo.protezione.box4a.list.li3 %}</li>
						<li>{% t cosafacciamo.protezione.box4a.list.li4 %}</li>
						<li>{% t cosafacciamo.protezione.box4a.list.li5 %}</li>
						<li>{% t cosafacciamo.protezione.box4a.list.li6 %}</li>
	        </ul>
					<p>
					  <a href="/images/cryptoteam/https_è_un_sito_sicuro.png" data-lightbox="https è un sito sicuro" data-title="https è un sito sicuro">
							<img src="/images/cryptoteam/https_è_un_sito_sicuro.png" alt="https Sè un sito sicuro" width="90%" title="https è un sito sicuro"/>
						</a>
					</p>
			</div>
		</div>
	</div>
</div>
