<div id="known-technologies-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">Scarica qui il PDF completo: <a href="{{ 'Documenti/art615.pdf' | to_absoluteurl }}" class="btn btn-sm btn-primary">Download</a></p>

				<p class="lead">{% t normativa.norme.art615.ter.lead %}</p>
				{% t normativa.norme.art615.ter.text %}

				<p class="lead">{% t normativa.norme.art615.quater.lead %}</p>
				{% t normativa.norme.art615.quater.text %}

				<p class="lead">{% t normativa.norme.art615.quinquies.lead %}</p>
				{% t normativa.norme.art615.quinquies.text %}

			</div>
		</div>
	</div>
</div>
