<div id="known-technologies-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">{% t normativa.norme.ui.details.lead %}</p>
        {% t normativa.norme.ui.details.text %}
				<p class="lead">{% t normativa.norme.ui.details.lead2 %}</p>
        {% t normativa.norme.ui.details.text2 %}
				<p class="lead">{% t normativa.norme.ui.details.lead3 %}</p>
				{% t normativa.norme.ui.details.text3 %}
				<p class="lead">{% t normativa.norme.ui.details.lead4 %}</p>
				{% t normativa.norme.ui.details.text4 %}
				<p class="lead">{% t normativa.norme.ui.details.lead5 %}</p>
        {% t normativa.norme.ui.details.text5 %}
				<p class="lead">{% t normativa.norme.ui.details.lead6 %}</p>
        {% t normativa.norme.ui.details.text6 %}
				<p class="lead">{% t normativa.norme.ui.details.lead7 %}</p>
        {% t normativa.norme.ui.details.text7 %}
				<p class="lead">{% t normativa.norme.ui.details.lead8 %}</p>
        {% t normativa.norme.ui.details.text8 %}
				<p class="lead">{% t normativa.norme.ui.details.lead9 %}</p>
        {% t normativa.norme.ui.details.text9 %}
				<p class="lead">{% t normativa.norme.ui.details.lead10 %}</p>
        {% t normativa.norme.ui.details.text10 %}
			</div>
		</div>
	</div>
</div>
