<div id="deployment-and-cloud-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">
					<p class="lead">{% t normativa.norme.deployment.details.lead %}</p>
	        {% t normativa.norme.deployment.details.text %}
					<p class="lead">{% t normativa.norme.deployment.details.lead2 %}</p>
	        {% t normativa.norme.deployment.details.text2 %}
					<p class="lead">{% t normativa.norme.deployment.details.lead3 %}</p>
					{% t normativa.norme.deployment.details.text3 %}
					<p class="lead">{% t normativa.norme.deployment.details.lead4 %}</p>
					{% t normativa.norme.deployment.details.text4 %}
			</div>
		</div>
	</div>
</div>
