<div id="known-technologies-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">{% t normativa.norme.technologies.details.lead %}</p>
        {% t normativa.norme.technologies.details.text %}
				<p class="lead">{% t normativa.norme.technologies.details.lead2 %}</p>
        {% t normativa.norme.technologies.details.text2 %}
				<p class="lead">{% t normativa.norme.technologies.details.lead3 %}</p>
        {% t normativa.norme.technologies.details.text3 %}
				<p class="lead">{% t normativa.norme.technologies.details.lead4 %}</p>
        {% t normativa.norme.technologies.details.text4 %}
			</div>
		</div>
	</div>
</div>
