<div id="deployment-and-cloud-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">Scarica qui il PDF completo: <a href="{{ 'Documenti/ue943.pdf' | to_absoluteurl }}" class="btn btn-sm btn-primary">Download</a></p>
				<p class="lead">{% t normativa.norme.ue943.details.lead %}</p>
        {% t normativa.norme.ue943.details.text %}
				<p class="lead">{% t normativa.norme.ue943.details.lead2 %}</p>
        {% t normativa.norme.ue943.details.text2 %}
				<p class="lead">{% t normativa.norme.ue943.details.lead3 %}</p>
				{% t normativa.norme.ue943.details.text3 %}
				<p class="lead">{% t normativa.norme.ue943.details.lead4 %}</p>
				{% t normativa.norme.ue943.details.text4 %}
			</div>
		</div>
	</div>
</div>
