---
layout: offerta-crypto
title: offerta.cifratura.title
description: offerta.cifratura.description

navName: Crittografia
mainNavLinkName:
subNavLinkName: navigation.sub.Crittografia
parent: Offerta

---
<div id="feature-areas" class="tab">
	<div class="row">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h1>{% t offerta.cifratura.intro.headline %}</h1>
				<p class="lead">{% t offerta.cifratura.intro.details %}</p>
			</div>
		</div>
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#openxpki">
		<div class="container">
			<div class="iconLarge col-sm-2 hidden-xs col-md-offset-1">
				<i class="fa fa-star-o"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-star-o hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.openxpki.headline %}</h2>
				<p class="explanation">
	        {% t offerta.cifratura.openxpki.lead %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="openxpki" class="collapse">
		{% include offerta/openxpki.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#privatebin">
		<div class="container">
			<div class="iconLarge col-sm-2 hidden-xs col-md-offset-1">
				<i class="fa fa-star-o"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-star-o hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.privatebin.headline %}</h2>
				<p class="explanation">
	        {% t offerta.cifratura.privatebin.lead %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="privatebin" class="collapse">
		{% include offerta/privatebin.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#cifratura-riposo">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-laptop"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-laptop hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.cifratura-riposo.headline %}</h2>
				<p class="explanation">
                    {% t offerta.cifratura.cifratura-riposo.lead %}
                    <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="cifratura-riposo" class="collapse">
		{% include offerta/cifratura-riposo.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#https">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-dashboard"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-edit hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.https.headline %}</h2>
				<p class="explanation">
	        {% t offerta.cifratura.https.lead %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="https" class="collapse">
		{% include offerta/https.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#openpgp">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.openpgp.headline %}</h2>
				<p class="explanation">
          {% t offerta.cifratura.openpgp.lead %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="openpgp" class="collapse">
		{% include offerta/openpgp.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#spostamento">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-eye"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-eye hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.spostamento.headline %}</h2>
				<p class="explanation">
	        {% t offerta.cifratura.spostamento.lead %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="spostamento" class="collapse">
		{% include offerta/spostamento.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#accessi">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-eye"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-eye hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.accessi.headline %}</h2>
				<p class="explanation">
	        {% t offerta.cifratura.accessi.lead %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="accessi" class="collapse">
		{% include offerta/accessi.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#autenticazione">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-eye"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-eye hidden-sm hidden-md hidden-lg"></i>{% t offerta.cifratura.autenticazione.headline %}</h2>
				<p class="explanation">
	        {% t offerta.cifratura.autenticazione.lead %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="autenticazione" class="collapse">
		{% include offerta/autenticazione.html row='even' %}
	</div>

</div>

<!-- takes care of the collapsing arrow change -->
<script type="text/javascript">
    function toggleChevron(e) {
        var id = $(e.target).attr('id');
        var oIcon = $('div[data-target="#' + id + '"] p button i');
        oIcon.toggleClass('fa-chevron-down fa-chevron-up');
    }

    // find the right element and execute
    $('#feature-areas div.collapse').on('shown.bs.collapse',
        function (element) {
            toggleChevron(element);
        });

    $('#feature-areas div.collapse').on('hidden.bs.collapse',
        function (element) {
            toggleChevron(element);
        });
</script>
