---
layout: servizi-protezione
title: servizi.protezione.titolo
description: servizi.protezione.descrizione

navName: Protezione Dati
subNavLinkName: navigation.sub.ProtezioneDati
parent: Servizi
---

<div id="feature-areas" class="tab">
	<div class="row">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h1>{% t servizi.protezione.titolo %}</h1>
				<p class="lead">{% t servizi.protezione.sottotitolo %}</p>
			</div>
		</div>
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#known-tech">
		<div class="container">
			<div class="iconLarge col-sm-2 hidden-xs col-md-offset-1">
				<i class="fa fa-star-o"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-star-o hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box1.headline %}</h2>
				<p class="explanation">
	        {% t servizi.protezione.box1.teaser %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="known-tech" class="collapse">
		{% include servizi/box1.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#ui">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-laptop"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-laptop hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box2.headline %}</h2>
				<p class="explanation">
	        {% t servizi.protezione.box2.teaser %}
	        <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="ui" class="collapse">
		{% include servizi/box2.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#box3">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box3.headline %}</h2>
				<p class="explanation">
          {% t servizi.protezione.box3.teaser %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="box3" class="collapse">
		{% include servizi/box3.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#box4a">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box4a.headline %}</h2>
				<p class="explanation">
          {% t servizi.protezione.box4a.teaser %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="box4a" class="collapse">
		{% include servizi/box4a.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#box4b">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box4b.headline %}</h2>
				<p class="explanation">
          {% t servizi.protezione.box4b.teaser %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="box4b" class="collapse">
		{% include servizi/box4b.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#box5">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box5.headline %}</h2>
				<p class="explanation">
          {% t servizi.protezione.box5.teaser %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="box5" class="collapse">
		{% include servizi/box5.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#box6">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box6.headline %}</h2>
				<p class="explanation">
          {% t servizi.protezione.box6.teaser %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="box6" class="collapse">
		{% include servizi/box6.html row='even' %}
	</div>

	<div class="row feature-row" data-toggle="collapse" data-target="#box7">
		<div class="container">
			<div class="iconLarge col-sm-2 col-md-offset-1 hidden-xs">
				<i class="fa fa-random"></i>
			</div>
			<div class="col-sm-10 col-md-9">
				<h2><i class="fa fa-random hidden-sm hidden-md hidden-lg"></i>{% t servizi.protezione.box7.headline %}</h2>
				<p class="explanation">
          {% t servizi.protezione.box7.teaser %}
          <button type="button" class="btn pull-right"><i class="fa fa-chevron-down"></i></button>
				</p>
			</div>
		</div>
	</div>
	<div id="box7" class="collapse">
		{% include servizi/box7.html row='even' %}
	</div>
</div>

<!-- takes care of the collapsing arrow change -->
<script type="text/javascript">
    function toggleChevron(e) {
        var id = $(e.target).attr('id');
        var oIcon = $('div[data-target="#' + id + '"] p button i');
        oIcon.toggleClass('fa-chevron-down fa-chevron-up');
    }

    // find the right element and execute
    $('#feature-areas div.collapse').on('shown.bs.collapse',
        function (element) {
            toggleChevron(element);
        });

    $('#feature-areas div.collapse').on('hidden.bs.collapse',
        function (element) {
            toggleChevron(element);
        });
</script>
