---
layout: news
title: normativa.news.archive.title
description: normativa.news.archive.description

navName: Archivio News
mainNavLinkName: navigation.main.Normativa
subNavLinkName: navigation.sub.ArchivioNews
parent: Normativa
---

<div id="news-archive">
	<div class="row">
		<div class="container">
			<div class="col-sm-3 col-md-2 headline">
				<p><i class="fa fa-comment-o fa-3x"></i></p>
				<h2>{% t normativa.news.archive.headline %}</h2>
			</div>
			<div class="col-sm-9 col-md-5">
				{% for news in site.categories.news limit:15%}
					<div class="news-post news-post-{{forloop.index}}">
						<span class="meta">{% t news.when %}</span>
						<a href="{{ news.url | to_absoluteurl }}">{% t news.title %}</a>
						<span class="meta">{% t news.excerpt %}</span>
						<!--
						<span class="meta">Fonte: <a href="{% t news.link %}" target="_blank">{% t news.fonte %}</a></span>
					  -->
						<span class="meta">Fonte: <strong>{% t news.fonte %}</strong></span>
					</div>
					<hr>
				{% endfor %}
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0">
				{% for news in site.categories.news limit:15 offset:15%}
					<div class="news-post news-post-{{forloop.index}}">
						<span class="meta">{% t news.when %}</span>
						<a href="{{ news.url | to_absoluteurl }}">{% t news.title %}</a>
						<span class="meta">{% t news.excerpt %}</span>
						<!--
						<span class="meta">Fonte: <a href="{% t news.link %}" target="_blank">{% t news.fonte %}</a></span>
					  -->
						<span class="meta">Fonte: <strong>{% t news.fonte %}</strong></span>
					</div>
					<hr>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
