<div id="load-profiles-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">
					<ul>
	          <li>{% t servizi.protezione.box5.list.li1 %}</li>
						<li>{% t servizi.protezione.box5.list.li2 %}</li>
						<li>{% t servizi.protezione.box5.list.li3 %}</li>
						<li>{% t servizi.protezione.box5.list.li4 %}</li>
	        </ul>
					<p>
					  <a href="/images/cryptoteam/Condivisione_Dati_Sicura.png" data-lightbox="Condivisione Dati Sicura" data-title="Condivisione Dati Sicura">
							<img src="/images/cryptoteam/Condivisione_Dati_Sicura.png" alt="Condivisione Dati Sicura" width="90%" title="Condivisione Dati Sicura"/>
						</a>
					</p>
			</div>
		</div>
	</div>
</div>
