<div id="see-everything-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">{% t offerta.cifratura.accessi.details.lead %}</p>
        <p><a href="/images/cryptoteam/Controllo_Accessi_OpenXPKI.png"><img class="img-responsive pull-left" src="/images/cryptoteam/Controllo_Accessi_OpenXPKI.png" alt="{% t offerta.cifratura.accessi.details.text.block1.image.alt %}" title="{% t offerta.cifratura.accessi.details.text.block1.image.title %}"/></a></p>
        {% t offerta.cifratura.accessi.details.text.block1.text %}
        <div class="clearfix"></div>
        <p><a href="/images/cryptoteam/Controllo_Accessi_OpenPGP.png"><img class="img-responsive pull-left" src="/images/cryptoteam/Controllo_Accessi_OpenPGP.png" alt="{% t offerta.cifratura.accessi.details.text.block2.image.alt %}" title="{% t offerta.cifratura.accessi.details.text.block2.image.title %}" /></a></p>
        {% t offerta.cifratura.accessi.details.text.block2.text %}
			</div>
		</div>
	</div>
</div>
